/* CSS for options.html */

body {
    margin: 0;
    background: #000;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("../media/loop.jpg") no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.card {
    min-width: 380px;
}

.card,
table tr {
    background: rgba(0 0 0 / 30%);
}
