/* CSS for options.html */

body {
  min-width: 340px;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#options-wrapper {
  width: 100%;
  max-width: 767px;
  backdrop-filter: blur(6px);
  background-color: rgba(var(--bs-emphasis-bg-rgb), 0.5);
  border: 1px solid rgba(var(--bs-emphasis-bg-rgb), 0.15);
  filter: drop-shadow(15px 15px 12px var(--bs-black));
}

#table-wrapper {
  background-color: rgba(var(--bs-emphasis-bg-rgb), 0.5);
}

.form-control {
  background-color: rgba(var(--bs-emphasis-bg-rgb), 0.5);
}
