/* CSS for options.html */

body {
    min-width: 340px;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#options-wrapper {
    background: rgba(0 0 0 / 50%);
    filter: drop-shadow(15px 15px 12px #000000);
    backdrop-filter: blur(6px);
    max-width: 800px;
}

.form-control {
    background: rgba(0 0 0 / 50%);
}

#table-wrapper {
    background: rgba(0 0 0 / 50%);
}
