/* CSS for popup.html */

body {
    overflow-x: hidden;
}

#table-wrapper {
    overflow-y: auto;
}

#media-outer {
    z-index: 3;
}

#media-image {
    max-height: 44vh;
    background-color: #303030;
}

ul.dropdown-menu {
    width: 260px;
}

.hover-menu {
    position: absolute;
}
