/* CSS for popup.html */

body {
    overflow-x: clip;
    overflow-y: auto;
    min-height: 300px;
}

#media-outer {
    z-index: 3;
}

#media-image {
    max-height: 44vh;
    background-color: #303030;
}

ul.dropdown-menu {
    width: 280px;
}

.hover-menu {
    position: absolute;
}
