/* CSS for popup.html */

body {
  overflow-x: clip;
  overflow-y: auto;
}

#media-outer {
  z-index: 3;
}

#media-image {
  max-height: 44vh;
  background-color: #303030;
}

.hover-menu {
  position: absolute;
}

ul.dropdown-menu {
  width: 280px;
}
